
.hj-thumbs-up:before { content: '\e800'; } /* '' */
.hj-eye:before { content: '\e801'; } /* '' */
.hj-cog:before { content: '\e802'; } /* '' */
.hj-params:before { content: '\e803'; } /* '' */
.hj-calendar:before { content: '\e804'; } /* '' */
.hj-star:before { content: '\e805'; } /* '' */
.hj-heart:before { content: '\e806'; } /* '' */
.hj-down-hand:before { content: '\e807'; } /* '' */
.hj-left-hand:before { content: '\e808'; } /* '' */
.hj-right-hand:before { content: '\e809'; } /* '' */
.hj-up-hand:before { content: '\e80a'; } /* '' */
.hj-indent-left:before { content: '\e80b'; } /* '' */
.hj-indent-right:before { content: '\e80c'; } /* '' */
.hj-arrows-cw:before { content: '\e80d'; } /* '' */
.hj-font:before { content: '\e80e'; } /* '' */
.hj-fontsize:before { content: '\e80f'; } /* '' */
.hj-bold:before { content: '\e810'; } /* '' */
.hj-italic:before { content: '\e811'; } /* '' */
.hj-text-height:before { content: '\e812'; } /* '' */
.hj-text-width:before { content: '\e813'; } /* '' */
.hj-align-left:before { content: '\e814'; } /* '' */
.hj-align-center:before { content: '\e815'; } /* '' */
.hj-align-right:before { content: '\e816'; } /* '' */
.hj-align-justify:before { content: '\e817'; } /* '' */
.hj-list:before { content: '\e818'; } /* '' */
.hj-off:before { content: '\e819'; } /* '' */
.hj-down:before { content: '\e81a'; } /* '' */
.hj-right:before { content: '\e81b'; } /* '' */
.hj-left:before { content: '\e81c'; } /* '' */
.hj-up:before { content: '\e81d'; } /* '' */
.hj-ok:before { content: '\e81e'; } /* '' */
.hj-resize-full:before { content: '\e81f'; } /* '' */
.hj-resize-full-alt:before { content: '\e820'; } /* '' */
.hj-resize-small:before { content: '\e821'; } /* '' */
.hj-resize-small-alt:before { content: '\e822'; } /* '' */
.hj-move:before { content: '\e823'; } /* '' */
.hj-lock-empty:before { content: '\e824'; } /* '' */
.hj-picture-outline:before { content: '\e825'; } /* '' */
.hj-cancel-circled-outline:before { content: '\e826'; } /* '' */
.hj-attach:before { content: '\e827'; } /* '' */
.hj-tag:before { content: '\e828'; } /* '' */
.hj-tags:before { content: '\e829'; } /* '' */
.hj-download-outline:before { content: '\e82a'; } /* '' */
.hj-upload-outline:before { content: '\e82b'; } /* '' */
.hj-upload-cloud-outline:before { content: '\e82c'; } /* '' */
.hj-reply-outline:before { content: '\e82d'; } /* '' */
.hj-forward-outline:before { content: '\e82e'; } /* '' */
.hj-direction-outline:before { content: '\e82f'; } /* '' */
.hj-location-outline:before { content: '\e830'; } /* '' */
.hj-contacts:before { content: '\e831'; } /* '' */
.hj-vcard:before { content: '\e832'; } /* '' */
.hj-warning-empty:before { content: '\e833'; } /* '' */
.hj-down-small:before { content: '\e834'; } /* '' */
.hj-left-small:before { content: '\e835'; } /* '' */
.hj-right-small:before { content: '\e836'; } /* '' */
.hj-up-small:before { content: '\e837'; } /* '' */
.hj-down-dir:before { content: '\e838'; } /* '' */
.hj-left-dir:before { content: '\e839'; } /* '' */
.hj-right-dir:before { content: '\e83a'; } /* '' */
.hj-up-dir:before { content: '\e83b'; } /* '' */
.hj-down-open-mini:before { content: '\e83c'; } /* '' */
.hj-left-open-mini:before { content: '\e83d'; } /* '' */
.hj-right-open-mini:before { content: '\e83e'; } /* '' */
.hj-up-open-mini:before { content: '\e83f'; } /* '' */
.hj-down-open-1:before { content: '\e840'; } /* '' */
.hj-left-open-1:before { content: '\e841'; } /* '' */
.hj-right-open-1:before { content: '\e842'; } /* '' */
.hj-resize-full-1:before { content: '\e843'; } /* '' */
.hj-resize-small-1:before { content: '\e844'; } /* '' */
.hj-clock:before { content: '\e845'; } /* '' */
.hj-video:before { content: '\e846'; } /* '' */
.hj-eye-1:before { content: '\e847'; } /* '' */
.hj-eye-off:before { content: '\e848'; } /* '' */
.hj-ext:before { content: '\e849'; } /* '' */
.hj-home:before { content: '\e84a'; } /* '' */
.hj-list-1:before { content: '\e84b'; } /* '' */
.hj-love:before { content: '\e84c'; } /* '' */
.hj-msg:before { content: '\e84d'; } /* '' */
.hj-photo:before { content: '\e84e'; } /* '' */
.hj-user:before { content: '\e84f'; } /* '' */
.hj-comment1:before { content: '\e851'; } /* '' */
.hj-comment2:before { content: '\e852'; } /* '' */
.hj-down-open:before { content: '\f004'; } /* '' */
.hj-up-open:before { content: '\f005'; } /* '' */
.hj-right-open:before { content: '\f006'; } /* '' */
.hj-left-open:before { content: '\f007'; } /* '' */
.hj-pause:before { content: '\f00e'; } /* '' */
.hj-play:before { content: '\f00f'; } /* '' */
.hj-to-end:before { content: '\f010'; } /* '' */
.hj-to-start:before { content: '\f011'; } /* '' */
.hj-fast-forward:before { content: '\f012'; } /* '' */
.hj-fast-backward:before { content: '\f013'; } /* '' */
.hj-zoom-in:before { content: '\f07e'; } /* '' */
.hj-zoom-out:before { content: '\f07f'; } /* '' */
.hj-stop:before { content: '\f080'; } /* '' */
.hj-twitter:before { content: '\f099'; } /* '' */
.hj-github-circled:before { content: '\f09b'; } /* '' */
.hj-gplus:before { content: '\f0d5'; } /* '' */
.hj-linkedin:before { content: '\f0e1'; } /* '' */
.hj-github:before { content: '\f113'; } /* '' */
.hj-code:before { content: '\f121'; } /* '' */
.hj-tumblr:before { content: '\f173'; } /* '' */
.hj-apple:before { content: '\f179'; } /* '' */
.hj-android:before { content: '\f17b'; } /* '' */
.hj-weibo:before { content: '\f18a'; } /* '' */
.hj-git:before { content: '\f1d3'; } /* '' */
.hj-tencent-weibo:before { content: '\f1d5'; } /* '' */
.hj-qq:before { content: '\f1d6'; } /* '' */
.hj-wechat:before { content: '\f1d7'; } /* '' */
.hj-whatsapp:before { content: '\f232'; } /* '' */
.hj-chrome:before { content: '\f268'; } /* '' */
.hj-calendar-plus-o:before { content: '\f271'; } /* '' */
.hj-calendar-minus-o:before { content: '\f272'; } /* '' */
.hj-calendar-times-o:before { content: '\f273'; } /* '' */
.hj-calendar-check-o:before { content: '\f274'; } /* '' */
.hj-bluetooth-b:before { content: '\f294'; } /* '' */
.hj-envelope-open-o:before { content: '\f2b7'; } /* '' */
.hj-user-o:before { content: '\f2c0'; } /* '' */
.hj-free-code-camp:before { content: '\f2c5'; } /* '' */
.hj-facebook-squared:before { content: '\f308'; } /* '' */